.chat-bot-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.chat-bot-container.visible {
  opacity: 1;
  visibility: visible;
}
.div-render-chat{
  max-height: 100%;
}

.chat-box {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;


}

.chat-messages {
  flex: 1;
  overflow-y: auto;
} 

.user-message {
  background-color: #ba338a;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  align-self: flex-end;
  /* margin-top: 10px; */
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.bot-message {
  background-color: #ececec;
  color: #333;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  align-self: flex-start;
  /* margin-top: 10px; */

  margin-left: 5px;
  /* margin-bottom: 10px; */
  font-size: small;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.input-conta{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-text {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.input-button {
  background-color: #ba338a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.input-button:hover {
  background-color: #af2e82;
}
