.createProductContainer{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media screen and (max-width: 768px) {
    .createProductContainer{
        width: 100%;
        display: grid;
        place-items: center;
      
    }
    .createProductTitle{
        margin-left: -25px;
    }
    
}