.footerContainer {
  /* bottom: 0; */
  flex-shrink: 0;
}

.footerBottom {
  display: flex;
  justify-content: center;
  background-color: #ba338a;
  color: #e0b3d3;
  padding: 8px;
}
.footerBottom a {
  color: peachpuff;
}
.footerBottom a:hover {
  color: white;
  text-shadow: 0 0 3px #e0b3d3;
}

.footerTop {
  display: flex;
  justify-content: space-around;
  background-color: #e0b3d3;
  padding: 16px;
}

.footerTop a {
  color: #ba338a;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footerTop a:hover {
  color: #f6f1f5;
  font-size: 16px;
  /* font-weight: 700; */
}

.footerTopLeftWrapper {
  display: flex;
  flex-direction: column;
}

.h3footer {
  color: #ba338a;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 0;
}

.footerTopLeft {
  display: flex;
  justify-content: left;
  margin-left: 36px;
}

.chatbot-overlay {
  position: fixed;
  bottom: 60px;
  left: 20px;
  z-index: 999;
  width: 500px;
  height: 900px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.chatbot-overlay.visible {
  opacity: 1;
  visibility: visible;
}

/* Estilos para el botón CHATBOT */
.buttonChatBot {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 998;
  background: rgba(255, 255, 255, 0.911);
  width: 5rem;
  /* height: 5%; */
  border: 1px solid rgb(126, 126, 126);
  border-radius: 1em 1em 1em 0;
  transition: 0.5s ease-in-out;
}
.ladyBot {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    justify-content: center;
  }

  .footerTopLeft {
    margin-left: 0;
  }
  .chatbot-overlay {
    width: 90%;
  }
  .buttonChatBot {
    width: 4rem;
  }
}
