.footerContainer {
  /* bottom: 0; */
  flex-shrink: 0;
}

.footerBottom {
  display: flex;
  justify-content: center;
  background-color: #ba338a;
  color: #e0b3d3;
  padding: 8px;
}
.footerBottom a {
  color: peachpuff;
}
.footerBottom a:hover {
  color: white;
  text-shadow: 0 0 3px #e0b3d3;
}

.footerTop {
  display: flex;
  justify-content: space-around;
  background-color: #e0b3d3;
  padding: 16px;
}

.footerTop a {
  color: #ba338a;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footerTop a:hover {
  color: #f6f1f5;
  font-size: 16px;
  /* font-weight: 700; */
}

.footerTopLeftWrapper {
  display: flex;
  flex-direction: column;
}

.h3footer {
  color: #ba338a;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 0;
}

.footerTopLeft {
  display: flex;
  justify-content: left;
  margin-left: 36px;
}

.chatbot-overlay {
  position: fixed;
  bottom: 60px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 20px; /* Ajusta la distancia desde la derecha según tus preferencias */
  z-index: 999; /* Ajusta el valor de z-index según sea necesario, debe ser mayor que el del botón */
  /* Otros estilos, como dimensiones y fondo, según tus preferencias */
  width: 500px; /* Ajusta el ancho del chat según tus preferencias */
  height: 900px;
}

/* Estilos para el botón CHATBOT */
.buttonChatBot {
  display: flex;
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 20px; /* Ajusta la distancia desde la derecha según tus preferencias */
  z-index: 998; /* Ajusta el valor de z-index según sea necesario */
  /* Otros estilos para el botón */
  background: rgba(255, 255, 255, 0.507);
  width: 5rem;
  /* height: 5%; */
  border: 1px solid rgb(126, 126, 126);
  border-radius: 1em 1em 1em 0 ;

}
.ladyBot {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .footerTop {
    flex-direction: column;
    justify-content: center;
  }

  .footerTopLeft {
    margin-left: 0;
  }
}
